<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
  <main>
    <div>
      <h1>The Project App <%= env === 'staging' ? '(staging)' : '' %></h1>
      <img src="image" alt="Kubeapp" width="300" />
      <form action="/todos" method="post">
        <input type="text" id="content" name="content" maxlength="140" required>
        <button type="submit">Create todo</button>
      </form>
      <h3>Todo/h3>

      <ul>
        <% todos.forEach(function(todo) { %>
          <li>
            <%= todo.content %>
            <form action="/todos/<%= todo.id %>" method="post" style="display:inline;">
              <input type="hidden" name="_method" value="PUT">
              <button type="submit">Mark as done</button>
            </form>
          </li>
        <% }); %>
      </ul>
      <h3>Done</h3>
      <ul>
        <% dones.forEach(function(done) { %>
          <li><%= done.content %></li>
        <% }); %>
      </ul>
      <p>
        <a href="https://courses.mooc.fi/org/uh-cs/courses/devops-with-kubernetes" target="_blank">DevOps with Kubernetes 2025</a> University of Helsinki
      </p>
    </div>
  </main>

  </body>
</html>