<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
  <main>
    <div>
      <h1>The Project App</h1>
      <img src="image" alt="Kubeapp" width="300" />
      <form action="/todos" method="post">
        <input type="text" id="content" name="content" maxlength="140" required>
        <button type="submit">Create todo</button>
      </form>
      <ul>
        <% todos.forEach(function(todo) { %>
          <li><%= todo.content %></li>
        <% }); %>
      </ul>
      <p>
        <a href="https://courses.mooc.fi/org/uh-cs/courses/devops-with-kubernetes" target="_blank">DevOps with Kubernetes 2025</a> University of Helsinki
      </p>
    </div>
  </main>

  </body>
</html>